{% load static %} {% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jurnal Pengajar</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="{% static 'logindash/css/style.css' %}" />
  </head>
  <body
    class="img js-fullheight"
    style="background-image: url({% static 'logindash/images/b.jpeg' %})"
  >
    <section class="ftco-section">
      <div class="container-fluid" style="margin-top: 150px;">
        <div class="row justify-content-center">
          <div
            class="col-md-4 col-lg-4">
            <div class="login-wrap p-4">
              {% if messages %} {% for message  in messages  %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endfor %} {% endif %}
              <script>
                window.setTimeout(function() {
                $(".alert")
                  .fadeTo(400, 0)
                  .slideUp(400, function() {
                    $(this).remove();
                  });
                }, 2000);
              </script>
              <form action="#" class="signin-form" method="POST">
              {% csrf_token %}
                <div class="form-group">
                  {% render_field login.username class+="form-control" placeholder+="Username"%}
                </div>
                <div class="form-group">
                  {% render_field login.password class+="form-control" id+="password-field" placeholder+="Password"%}
                  <span
                    toggle="#password-field"
                    class="fa fa-fw fa-eye field-icon toggle-password"
                  ></span>
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="form-control btn btn-primary submit px-3"
                  >
                    Sign In
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="{% static 'logindash/js/jquery.min.js' %}"></script>
    <script src="{% static 'logindash/js/popper.js' %}"></script>
    <script src="{% static 'logindash/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'logindash/js/main.js' %}"></script>
  </body>
</html>
